<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="footer">
    <div class="container">
        <footer>
            <script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript" src="webjars/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.js"></script>
            <script type="text/javascript" src="webjars/axios/0.17.0/dist/axios.min.js"></script>
            <script type="text/javascript" src="webjars/vue/2.5.3/vue.min.js"></script>
         </footer>
    </div>
</div>