<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Markdown Redactor')"></head>
<body>

<div th:replace="fragments/header :: page-header"></div>

<div class="container" id="app">
    <div class="row">
        <div class="col-4">
            <div class="input-group">
                <input type="text" class="form-control" v-model="name" placeholder="Search for..."
                       aria-label="Search for..."/>
                <span class="input-group-btn">
                <button class="btn btn-secondary" v-if="filteredDocs.length == 0"
                        v-on:click="doCreateNewDoc" type="button">Create!</button>
                </span>
            </div>
            <div class="list-group" id="list-tab" role="tablist">
                <a v-for="doc in filteredDocs" v-on:click="toggleSelected(doc)"
                   class="list-group-item list-group-item-action" data-toggle="list" role="tab" aria-controls="doc">
                    {{ doc.name }} {{ doc.selected }}</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div v-for="doc in filteredDocs" class="tab-pane fade"
                     v-bind:class="{ show: doc.selected, active: doc.selected }" role="tabpanel">
                    {{ doc.name }}
                    {{ doc.selected }}
                    <button class="btn btn-primary" v-if="doc._links.edit" v-on:click="doEditDoc(doc)">Edit</button>
                    <button class="btn btn-danger" v-if="doc._links.delete" v-on:click="doDeleteDoc(doc)">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script th:inline="javascript">
    var app = new Vue({
        el: '#app',
        data: {
            /*<![CDATA[*/
            api: /*[[${api}]]*/ null,
            /*]]>*/
            name: "",
            actions: null,
            docs: []
        },
        computed: {
            filteredDocs: function () {
                var self = this;
                return self.docs.filter(function (doc) {
                    return doc.name.indexOf(self.name) !== -1
                })
            }
        },
        created: function () {
            console.log("vue created");
            this.createLoadActionsRequest()
                .then(function (response) {
                    this.handleLoadActionsRequest(response);
                    return this.createGetDocsRequest();
                }.bind(this))
                .then(function (response) {
                    this.handleGetDocsRequest(response);
                    console.log(this.docs);
                }.bind(this));
        },
        methods: {
            doCreateNewDoc: function (event) {
                var createNewDocUrl = this.actions.createDoc.href;
                console.log("create new doc url: " + createNewDocUrl);
                return axios.post(createNewDocUrl, {name: this.name, content: ''})
                    .then(function (response) {
                        return this.createGetDocsRequest();
                    }.bind(this))
                    .then(function (response) {
                        this.handleGetDocsRequest(response);
                    }.bind(this))
                    .catch(function (error) {
                        console.error(error);
                    });
            },

            toggleSelected: function (doc) {
                var i = this.docs.indexOf(doc);
                this.deselectAllDocs();
                doc = this.docs[i];
                doc.selected = true;
                Vue.set(this.docs, i, doc);
                console.info(this.docs)
            },

            deselectAllDocs: function () {
                for (let i = 0; i < this.docs.length; i++) {
                    const doc = this.docs[i];
                    doc.selected = false;
                    Vue.set(this.docs, i, doc);
                }
            },

            doDeleteDoc: function (doc) {
                var deleteDocUrl = doc._links.delete.href;
                console.log("delete doc url: " + deleteDocUrl);
                return axios.delete(deleteDocUrl)
                    .then(function (response) {
                        return this.createGetDocsRequest();
                    }.bind(this))
                    .then(function (response) {
                        this.handleGetDocsRequest(response);
                    }.bind(this))
                    .catch(function (error) {
                        console.error(error);
                    });
            },

            createGetDocsRequest: function () {
                var getDocsUrl = this.actions.getDocs.href;
                console.log("get docs url: " + getDocsUrl);
                return axios.get(getDocsUrl);
            },

            handleGetDocsRequest: function (response) {
                this.docs = response.data;
                this.deselectAllDocs();
            },

            createLoadActionsRequest: function () {
                console.log("api url: " + this.api);
                return axios.get(this.api);
            },

            handleLoadActionsRequest: function (response) {
                this.actions = response.data._links;
                console.log("actions: " + this.actions);
            }
        }
    })
</script>
</html>